.gameContainer {
  text-align: center;
}
.gameBoard {

  border: 2px solid rgb(6, 39, 75);
}
.scoreText {
  font-family: "Mv Boli";
  font-size: 100px;
}
/* .btn{
background-color: rgb(53, 113, 176);
color: white;
padding: 5px 10px;
border-radius: 20px;
font-size: 30px;
border-color: white;
font-family: "Mv Boli";
} */
